$font-size-small: 13px;
$font-size-medium: 16px;
$font-size-big: 20px;

$color-primary: darkblue;
$color-secondary:blue;
$color-tertiary: skyblue;

/*
* * : to compile scss file to css file You need to run: npm run sass in cmd.
toDo: create architecture for .scss file 
*/